extends layouts/main.pug

block content
  .form-container
    form(action=`/users${routes.changePassword}`)
      input(type="password", placeholder="Current Password", name="currentPassword" )
      input(type="password", placeholder="New Password", name="newPassword")
      input(type="password", placeholder="Verify New password", name="verifyNewPassword")
      input(type="submit", value="Change Password")

