extends layouts/main.pug

block content
  .form-container
    form(action=`/users${routes.changePassword}`, method="POST")
      input(type="password", placeholder="Current Password", name="oldPassword")
      input(type="password", placeholder="New Password", name="newPassword")
      input(type="password", placeholder="Verify New password", name="newPassword1")
      input(type="submit", value="Change Password")

