extends layouts/main.pug

block content
  .form-container
    form(action=routes.upload, method="post")
      label(for="videofile") Video File
      input(type="file", id="upload", name="upload" )
      input(type="text", placeholder="Title", name="title")
      textarea(type="text", placeholder="Description", name="description")
      input(type="submit", value="Upload Video")
    